 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

@font-face {
    font-family: myBanglaFont;
    src: url(./banglafont/Li\ Abu\ J\ M\ Akkas\ Unicode.ttf)
}


p.bangla {
    font-family: myBanglaFont;
}