/* h1{
    color: red
}; */

/* Universal selectore */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ID selector */

/* #title {
    color: red;

} */

/* Tag selectors */

/* h1#title {
    color: blue; video 14 minutes 
} */

/* class selectors */

/* li.odd {
    color: blueviolet;
} */
/* li {
        color: red;
    }

    * {
        color: brown ;
    } */
/* Attribute selector */

/* [href="https://google.co.uk"] {
    color: red
} */

/* Combinetors  */

/* descendant conbinators with space  */

/* div.first-div h1 {
    color:red
}

div.second-div h1 {
    color:blue
} */


/* Child combinators with > (angle braket ) */

/* div.first-div >h1 {
    color:rgb(226, 16, 215)
}

div.second-div h1 {
    color:blue
} */

/* next sibling selectore with + plus sign  immediate porer sibling  */
h1+p {
    color: salmon;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: small;
    /* text-align: center; */
}

    /* Sunsequent- sibling selector with ~ sign  */

    /* body > .first-div > h1 + p {
        color:turquoise
    } */

    /* h1 ~ p {
        color: green;
    } */



